page-my-profile-update-account,
.register {

  color: #fff;

  .fixed-content{
    background-color: rgba(0,0,0,0.5);
  }

  .item-md{
    color: #fff;
  }

  .middle-align {
    height: auto;
  }

  .middle-align > div {
    width: 96%;
  }

  .invalid {
    border: 1px solid #ea6153;
  }

  ion-list {
    background: none;

    ion-item {
      background: none;

      ion-input {
        margin-bottom: 1rem;
        padding: 0 1.2rem;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.8);
        color: color($colors, dark);

        input::-webkit-input-placeholder {
          color: #fff;
        }
      }

      &.has-btn {
        ion-label {
          margin-right: 0;
          margin-bottom: 0;

          .item-button {
            padding: 0 1em;
            height: 2.8em;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
