<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>


<ion-content padding class="register auth-bg-image">
  <!--register form-->
  <div class="middle-align">
    <div>

      <ion-list class="list-no-border">


        <form #signupCreds="ngForm" [formGroup]="form" (ngSubmit)="doUpdateAccount(signupCreds.value)">

          <ion-item>
            <ion-input [class.invalid]="!form.controls.user_name.valid" type="text" name="user_name" placeholder="{{'first-name' | translate}}" formControlName="user_name" value="{{user_name}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.user_surname.valid" type="text" name="user_surname" placeholder="{{'last-name' | translate}}" formControlName="user_surname" value="{{user_surname}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-select [class.invalid]="!form.controls.user_gender.valid" formControlName="user_gender" placeholder="{{'select-gender' | translate}}" style="width: 100%; max-width: 100%">
              <ion-option value="m">{{'male' | translate}}</ion-option>
              <ion-option value="f">{{'female' | translate}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-datetime [class.invalid]="!form.controls.user_birthday.valid" displayFormat="DD/MM/YYYY" name="user_birthday" placeholder="{{'birthday' | translate}}" formControlName="user_birthday" [(ngModel)]="user_birthday"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.user_ZIPcode.valid" type="text" name="user_ZIPcode" placeholder="{{'zip-code' | translate}}" formControlName="user_ZIPcode"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.user_telephone1.valid" type="text" name="user_telephone1" placeholder="{{'phone' | translate}}" formControlName="user_telephone1"></ion-input>
          </ion-item>

          <ion-item class="has-btn" margin-top>
            <button ion-button block color="primary">{{'update-account' | translate}}</button>
          </ion-item>
        </form>

      </ion-list>
    </div>
  </div>
</ion-content>
