<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="login register auth-bg-image-2">
  <!--register form-->
  <div class="middle-align">
    <div>


      <ion-list class="list-no-border">

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-md-7 margin-right>
                <div class="avatar-modal-text-right">
                  <h3>{{'login-account' | translate}}</h3>
                </div>
              </ion-col>
              <ion-col col-md-4>
                <img [src]="getAvatarImage()" class="avatar-flipped" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <form #signupCreds="ngForm" [formGroup]="form" (ngSubmit)="doLogin(signupCreds.value)">
          <ion-item>
            <ion-input type="email" name="email" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" name="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item class="has-btn" margin-top>
            <button ion-button block color="primary">Login</button>
          </ion-item>
        </form>

        <div text-center margin-top>
          <span ion-text color="light">{{'or' | translate}}:</span>
        </div>

        <ion-item class="has-btn">
          <button ion-button color="gray" block (click)="goToLostPassword()">{{'lost-password' | translate}}</button>
        </ion-item>

        <ion-item class="has-btn">
          <button ion-button color="gray" block (click)="signUp()">{{'sign-up' | translate}}</button>
        </ion-item>

      </ion-list>
    </div>
  </div>
</ion-content>
