<ion-content padding-bottom class="home auth-bg-image">

  <ion-list align-items-center justify-content-center>

    <ion-item class="no-background">
      <img src="assets/img/logo.png" style="background: transparent !important; max-width: 50%; margin: 0 auto; display: block;">
    </ion-item>

    <ion-item class="no-background">
      <button style="width: 100%" ion-button color="primary" text-center padding (click)="scanBarcode()">{{'check-ticket' | translate}}</button>
    </ion-item>

    <ion-item class="no-background">
      <button style="width: 100%" ion-button color="primary" text-center padding (click)="scanBarcodeAssignCardReward()">{{'assign-rewards-card' | translate}}</button>
    </ion-item>

    <ion-item class="no-background">
      <button style="width: 100%" ion-button color="primary" text-center padding (click)="openAssignRewardsIntantWinPage()">{{'assign-rewards-instantwin' | translate}}</button>
    </ion-item>

    <ion-item class="no-background">
      <button style="width: 100%" ion-button color="primary" text-center padding (click)="scanBarcodePackage()">{{'assign-package' | translate}}</button>
    </ion-item>

    <ion-item class="no-background">
      <button style="width: 100%" ion-button color="primary" text-center padding (click)="doLogout()">{{'logout' | translate}}</button>
    </ion-item>

    <ion-item class="no-background">
      <button style="width: 100%" ion-button color="primary" text-center padding (click)="doResetAccount()">{{'reset-account' | translate}}</button>
    </ion-item>

  </ion-list>

</ion-content>
