home-retailer {

  .scroll-content{
    justify-content: center;
    display: flex!important;
    align-items: center!important;
  }

  .no-background{
    background: transparent !important;
  }

  .scanButton {
    background: transparent !important;
    width: 50%;
  }

  .scanButton:focus{
    opacity: 0.5;
  }

  .scanButton:active{
    opacity: 0.5;
  }

}
