<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>


<ion-row class="ion-searchtext">
  <h4 padding-left>{{'rewards' | translate}}</h4>
</ion-row>


<ion-content padding class="retailers auth-bg">

  <div class="card round" margin-bottom *ngFor="let reward of rewards.rewardsModel" (click)="openReward(reward)">

    <ion-grid>

      <ion-row>

        <ion-col col-12>

          <h5>{{reward['reward_title_it']}}</h5>
          <p>{{reward['reward_descr_it']}}</p>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>
