<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="register auth-bg-image-2">
  <!--register form-->
  <div class="middle-align">
    <div>

      <ion-list class="list-no-border">

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-md-7 margin-right>
                <div class="avatar-modal-text-right" text-wrap>
                  <h3>{{'create-account' | translate}}</h3>
                </div>
              </ion-col>
              <ion-col col-md-4>
                <img [src]="getAvatarImage()" class="avatar-flipped" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>


        <form #signupCreds="ngForm" [formGroup]="form" (ngSubmit)="doSignup(signupCreds.value)">

          <ion-item style="display: hidden;">
            <ion-input type="hidden" name="app_code" formControlName="app_code"></ion-input>
            <ion-input type="hidden" name="user_privacy_agree" formControlName="user_privacy_agree"></ion-input>
            <ion-input type="hidden" name="user_communicate_data_agree" formControlName="user_communicate_data_agree"></ion-input>
            <ion-input type="hidden" name="user_profiling_agree" formControlName="user_profiling_agree"></ion-input>
            <ion-input type="hidden" name="user_marketing_agree" formControlName="user_marketing_agree"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.user_name.valid" type="text" name="user_name" placeholder="{{'first-name' | translate}}" formControlName="user_name" value="{{user_name}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.user_surname.valid" type="text" name="user_surname" placeholder="{{'last-name' | translate}}" formControlName="user_surname" value="{{user_surname}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-select [class.invalid]="!form.controls.user_gender.valid" formControlName="user_gender" placeholder="{{'select-gender' | translate}}" style="width: 100%; max-width: 100%">
              <ion-option value="m">{{'male' | translate}}</ion-option>
              <ion-option value="f">{{'female' | translate}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-datetime [class.invalid]="!form.controls.user_birthday.valid" displayFormat="DD/MM/YYYY" name="user_birthday" placeholder="{{'birthday' | translate}}" formControlName="user_birthday" [(ngModel)]="user_birthday"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.user_ZIPcode.valid" type="text" name="user_ZIPcode" placeholder="{{'zip-code' | translate}}" formControlName="user_ZIPcode"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.user_telephone1.valid" type="text" name="user_telephone1" placeholder="{{'phone' | translate}}" formControlName="user_telephone1"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.user_nicename.valid" type="text" name="user_nicename" placeholder="{{'nice-name' | translate}}" formControlName="user_nicename" value="{{user_nicename}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.email.valid" type="email" name="email" placeholder="{{'email' | translate}}" formControlName="email" value="{{user_email}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.password.valid" type="password" name="password" placeholder="{{'password' | translate}}" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.password_confirmation.valid" type="password" name="password_confirmation" placeholder="{{'password-confirm' | translate}}" formControlName="password_confirmation"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label text-wrap>*{{'password-text' | translate}}</ion-label>
          </ion-item>


          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-md-4>
                  <img [src]="getAvatarImage()" class="avatar-no-flip" />
                </ion-col>
                <ion-col col-md-7 margin-left>
                  <div class="avatar-modal-text-left" text-wrap>
                    {{'terms-and-conditions' | translate}}
                    <div ion-button block color="primary" (click)="goToTermsAndConditions()">
                      {{'read-terms' | translate}}
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>


          <ion-item class="has-btn" margin-top>
            <button ion-button block [color]="(termsAccepted && form.valid) ? 'primary' : 'secondary'">{{'sign-up' | translate}}</button>
          </ion-item>
        </form>


        <ion-item class="has-btn">
          <button ion-button color="gray" block (click)="login()">{{'already-have-account' | translate}}</button>
        </ion-item>
        <ion-item class="has-btn">
          <button ion-button block (click)="doFacebookSignup();">
            <span gg-color>{{'sign-in-facebook' | translate }}</span>
          </button>
        </ion-item>
        <!--<ion-item class="has-btn">
          <button ion-button color="light" block>
            <span gg-color>Sign in with Google</span>
          </button>
        </ion-item>-->
      </ion-list>
    </div>
  </div>
</ion-content>
