<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>


<ion-content class="auth-bg" text-center padding>

  <ion-row padding>
    <img src="{{card.campaignawards[0].campaignaward_image}}">
  </ion-row>


  <ion-grid padding>

    <ion-row>
      <ion-col col-6>
        <p color="white">{{ 'get-card-award-detail' | translate }}</p>
        <button ion-button block margin-top (click)="getAward()">{{'get-award' | translate}}</button>
      </ion-col>

      <ion-col col-6>
        <qr-code value="{{card.card_id}}" [size]="150"></qr-code>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
