<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <button ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>

  <ion-buttons end>
    <button ion-button icon-only (click)="openNotificationsPage()">
      <ion-icon name="notifications">
        <ion-badge id="notifications-badge" color="danger">{{unreadNotifications}}</ion-badge>
      </ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>


<ion-content>
  <ion-tabs tabsPlacement="top" primary>
    <ion-tab [root]="tabHome" tabIcon="home" tabTitle=''></ion-tab>
    <ion-tab (ionSelect)="openMyRetailers()" tabIcon="heart" tabTitle=''></ion-tab>
    <ion-tab (ionSelect)="openSearch()" tabIcon="search" tabTitle=''></ion-tab>
    <ion-tab (ionSelect)="openCoupons()" tabIcon="ios-pricetags" tabTitle=''></ion-tab>
    <ion-tab (ionSelect)="openScan()" tabIcon="qr-scanner" tabTitle=''></ion-tab>
  </ion-tabs>
</ion-content>
