<ion-navbar>
  <button ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>

<ion-row class="ion-searchtext">
  <h4 padding-left>{{'notification' | translate}}</h4>
</ion-row>

<ion-content class="auth-bg" text-center padding>

  <img [src]="getAvatarImage()" class="avatar-modal" />

  <div class="white-box-color" margin-top text-center style="height: 100%;">

    <h1 text-center>{{notification.notification_title}}</h1>
    <img text-center class="detail-image-box" *ngIf="notification.notification_image" src="{{notification.notification_image}}" /><br />
    <p text-center>{{notification.notification_body}}</p>

    <div ion-button block color="primary" (click)="openLink(notification.notification_link)" *ngIf="notification.notification_link">
      {{'open-link' | translate}}
    </div>

    <div ion-button block color="primary" (click)="closeNotification(notification)">
      {{'close' | translate}}
    </div>
  </div>

</ion-content>
