<ion-navbar>

  <button ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>

  <ion-buttons end>
    <button ion-button icon-only>
      <ion-icon name="qr-scanner" color="button-dark" padding-right></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>


<ion-content padding-bottom class="home auth-bg-image">

  <div class="confetti" *ngIf="showConfetti">
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
  </div>


  <ion-list align-items-center justify-content-center>

    <ion-item class="no-background">
      <img src="assets/img/logo.png" style="background: transparent !important; max-width: 50%; margin: 0 auto; display: block;">
    </ion-item>

    <ion-item class="no-background">
      <button style="width: 100%" ion-button color="primary" text-center padding (click)="scanBarcode()">Scansiona</button>
    </ion-item>

    <ion-item class="no-background">
      <button style="width: 100%" ion-button color="primary" text-center padding (click)="goToHome()">Torna alla Home</button>
    </ion-item>

  </ion-list>

</ion-content>
