page-scanner {

  .scroll-content{
    justify-content: center;
    display: flex!important;
    align-items: center!important;
  }

  .no-background{
    background: transparent !important;
  }

  .scanButton {
    background: transparent !important;
    width: 50%;
  }

  .scanButton:focus{
    opacity: 0.5;
  }

  .scanButton:active{
    opacity: 0.5;
  }


  // Confetti
  $yellow: #ffd300;
  $blue: #17d3ff;
  $pink: #ff4e91;

  $duration: 1000;

  @function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
  }

  .confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .confetti-piece {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: url('../assets/img/logo.png');
    background-size: 100% !important;
    top: 0;
    opacity: 0;

    @for $i from 1 through 13 {
      &:nth-child(#{$i}) {
        left: $i * 7%;
        transform: rotate(#{randomNum(-80, 80)}deg);
        animation: makeItRain $duration * 1ms infinite ease-out;
        animation-delay: #{randomNum(0, $duration * .5)}ms;
        animation-duration: #{randomNum($duration * .7, $duration * 1.2)}ms
      }
    }

    &:nth-child(odd) {
      background: url('../assets/img/logo.png');
    }

    &:nth-child(even) {
      z-index: 1;
    }

    &:nth-child(4n) {
      width: 3rem;
      height: 3rem;
      animation-duration: $duration * 2ms;
    }

    &:nth-child(3n) {
      width: 1rem;
      height: 1rem;
      animation-duration: $duration * 2.5ms;
      animation-delay: $duration * 1ms;
    }

    &:nth-child(4n-7) {
      background: url('../assets/img/logo.png');
    }
  }

  @keyframes makeItRain {
    from {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    to {
      transform: translateY(200px);
    }
  }

}
