page-scanner-ticket-reward{

  // Confetti
  $yellow: #ffd300;
  $blue: #17d3ff;
  $pink: #ff4e91;

  $duration: 1000;

  @function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
  }

  .auth-bg .scroll-content{
    padding-top: 0px !important;
  }

  .slide-container{
    width: 90% !important;
    border-top: 0px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: color($colors, primary);
    background: rgba(255, 255, 255, 0.8);
    height: 92%;
    padding-top: 10px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    margin: 0 auto;
  }


  .confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .confetti-piece {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-image: url('../assets/img/logo.png');
    background-size: 100% !important;
    top: 0;
    opacity: 0;

    @for $i from 1 through 13 {
      &:nth-child(#{$i}) {
        left: $i * 7%;
        transform: rotate(#{randomNum(-80, 80)}deg);
        animation: makeItRain $duration * 1ms infinite ease-out;
        animation-delay: #{randomNum(0, $duration * .5)}ms;
        animation-duration: #{randomNum($duration * .7, $duration * 1.2)}ms
      }
    }

    &:nth-child(odd) {
      background-image: url('../assets/img/logo.png');
    }

    &:nth-child(even) {
      z-index: 1;
    }

    &:nth-child(4n) {
      width: 3rem;
      height: 3rem;
      animation-duration: $duration * 2ms;
    }

    &:nth-child(3n) {
      width: 1rem;
      height: 1rem;
      animation-duration: $duration * 2.5ms;
      animation-delay: $duration * 1ms;
    }

    &:nth-child(4n-7) {
      background-image: url('../assets/img/logo.png');
    }
  }

  @keyframes makeItRain {
    from {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    to {
      transform: translateY(200px);
    }
  }

}
