<ion-navbar>

  <button ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>

  <ion-buttons end>
    <button ion-button icon-only>
      <ion-icon name="qr-scanner" color="button-dark" padding-right></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>



<ion-content padding class="home auth-bg" text-center no-padding>

  <div class="confetti">
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
  </div>




  <ion-scroll scrollY="true" class="slide-container" style="overflow-y: scroll;" no-padding align-items-center text-center>

    <img [src]="getAvatarImage()" class="avatar-modal" margin-top/>

    <h1 style="width: 100%">{{'winner-ticket' | translate}}</h1>

    <img [src]="reward['reward_image']" style="max-height: 180px;" />

    <h2 style="width: 100%">{{reward['reward_title_it']}}</h2>
    <p>{{reward['reward_descr_it']}}</p>


    <button ion-button color="primary" text-center padding (click)="goToScannerPage()">{{ 'continue-to-scan' | translate}}</button>

  </ion-scroll>

</ion-content>


<ion-footer no-shadow>
  <p text-center class="roules-text">{{'read-roules' | translate}}</p>
</ion-footer>
