<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <button ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>

<ion-row class="ion-searchtext">
  <h4 padding-left>{{'avatars' | translate}}</h4>
</ion-row>

<ion-content class="auth-bg-image-1">

  <ion-slides class="list-full-border">
    <ion-slide *ngFor="let avatar of avatars" [ngClass]="getAvatarClass(avatar.id)">

      <h1><b>{{ avatar.name }}</b></h1>
      <h5>{{ avatar.subtitle }}</h5>

      <img class="profile-picture" src="{{ avatar.face }}" style="width: 45%;"/>

      <br />
      <span [innerHTML]="avatar.lastText" style="margin-top: 0px; margin-bottom: 10px;"></span>
      <br />
      <button ion-button color="secondary" (click)="selectAvatar(avatar.id)" style="margin-top:15px">
        {{'select-avatar' | translate}}
      </button>

    </ion-slide>
  </ion-slides>

</ion-content>
