page-avatars {

  .slide-zoom{
    height: 80%;
  }

  .list-md ion-item-sliding {
    background-color: transparent;
  }

  .item-md {
    background-color: transparent;
    color: #fff;
  }

  .selected-avatar{
    background-color: rgba(255,255,255,0.3);
  }

}
