<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>

<ion-row class="ion-searchtext">
  <h4 padding-left>{{'poll' | translate}}</h4>
</ion-row>

<ion-content class="auth-bg" padding text-center>

  <img [src]="getAvatarImage()" class="avatar-modal" />

  <div class="white-box-color" margin-top>
    <h1 text-center>{{news.news_title}}</h1>
    <p text-center>{{news.news_description}}</p>

    <ion-grid>

      <ion-row *ngIf="news.news_link">
        <ion-col>
          <button ion-button block (click)="openLink(news.news_link)" color="primary">{{'open-link' | translate}}</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button block (click)="setVote(news.news_id, 1)" [color]="(newsLike == 1)? 'primary' :'secondary'">
            {{translateButton( news.news_affermative_button, 'i-like' )}}
          </button>
        </ion-col>
        <ion-col>
          <button ion-button block (click)="setVote(news.news_id, 0)" [color]="(newsLike == 0)? 'primary' :'secondary'">
            {{translateButton( news.news_negative_button, 'i-dont-like' )}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
