<ion-navbar>
  <button ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{ 'scanner' | translate }}</ion-title>
</ion-navbar>


<ion-content padding class="home auth-bg">

  <ion-scroll scrollY="true" class="full-scroll">

    <img [src]="getAvatarImage()" class="avatar-modal" />

    <ion-row class="avatar-modal-text" margin>

      <h1 style="width: 100%">{{'card-completed-title' | translate}}</h1>
      <p>{{'card-completed-text' | translate}}</p>

      <div ion-button block color="primary" (click)="getAward()">
        {{'send-request' | translate}}
      </div>
      <div ion-button block color="primary" (click)="goBack()">
        {{'back' | translate}}
      </div>
    </ion-row>

  </ion-scroll>

</ion-content>
