<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gray">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="header gray-bg" text-center>
    <img src="assets/img/user/default-user.png" class="profile-picture" alt="">
  </div>

  <!--statistic-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list class="list-full-border">
          <ion-item>
            <ion-icon name="ios-mail" item-left></ion-icon>
            <div>{{'email' | translate}}</div>
            <div>{{user.email}}</div>
          </ion-item>
          <ion-item>
            <ion-icon name="ios-person" item-left></ion-icon>
            <div>{{'user-nicename' | translate}}</div>
            <div>{{user.user_nicename}}</div>
          </ion-item>
          <ion-item>
            <ion-icon name="ios-beer" item-left></ion-icon>
            <div>{{'user-birthday' | translate}}</div>
            <div>{{user.user_birthday| date: 'dd/MM/yyyy' }}</div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list class="list-full-border">
          <ion-item>
            <ion-icon name="ios-call" item-left></ion-icon>
            <div>{{'user-phone' | translate}}</div>
            <div>{{user.user_telephone1}}</div>
          </ion-item>
          <ion-item>
            <ion-icon name="ios-home" item-left></ion-icon>
            <div>{{'user-zipcode' | translate}}</div>
            <div>{{user.user_ZIPcode}}</div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
