page-home,
.home {

  .home-buttons-box {
    width: 100%;
    position: absolute;
    bottom: 10px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 10%;
  }

  .home-img{
    height: 300px !important;
    margin: 0 auto;
  }

  .scroll-content {
    padding-bottom: 5rem;
  }

  .slide-container{

  }

  .slide-container .slide-zoom {
    width: 80% !important;
    border-top: 0px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: color($colors, primary);
    background: rgba(255, 255, 255, 0.8);
    height: 80%;
    padding-top: 40px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    position: absolute;
    top: 0px;
  }

  .float-search {
    position: fixed;
    width: 100%;
    left: 0;
    top: 1rem;

    button {
      position: absolute;
      margin: 0.4rem 0.2rem;
      left: 1.4rem;
      top: 1.2rem;
      height: 2.4em;
      box-shadow: none;

      &.activated {
        background: none;
      }
    }

    ion-input {
      padding-left: 5rem;
    }
  }

  .header {
    height: 30%;
    background-size: 100% auto;
  }

  // list of items
  .block-title {
    line-height: 2rem;

    ion-icon {
      font-size: 2rem;
    }
  }

  .items {
    overflow-x: auto;
    white-space: nowrap;

    .card {
      overflow: hidden;
      width: 25rem;
      display: inline-block;
      margin-right: 1.6rem;

      .card-header {
        width: 100%;
        height: 12rem;
        background-size: 100% auto;
      }

      span[gray] {
        font-size: 1.2rem;
      }

      .pull-left {
        max-width: 18rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: color($colors, restaurant-color);
      }
    }
  }
}

.md {
  .home {

    .float-search {

      button {
        top: 1.6rem;
      }

      ion-input {
        padding-left: 4rem;
      }
    }

    .tab-button-text {
      margin-top: 0;
    }
  }
}
