<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding-bottom class="home auth-bg-image" align-items-center>

  <ion-slides pager>
    <ion-slide class="slide-container" *ngFor="let news of newsws.newsModel">
      <img [src]="getAvatarImage()" class="avatar-modal" />
      <div>

        <h1>{{ news.news_title }}</h1>
        <p>{{ news.news_description }}</p>

        <div class="home-buttons-box">
          <button ion-button color="primary" (click)="openNews(news)">{{'open' | translate}}</button>
        </div>

      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
