<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>


<ion-content class="auth-bg" text-center>

  <!--header info-->
  <div class="inner">
    <h6 ion-text text-center class="card-title">Fidelity card {{ card.user_nicename }}</h6>
  </div>


  <img [src]="getAvatarImage()" class="avatar-modal" />

  <p text-center class="points-text">{{text}}</p>


  <ion-grid class="buttons" *ngFor="let cardItem of cardItems" padding-bottom margin-bottom>

    <div class="card-background">
      <ion-row *ngFor="let cardItemPage of cardItem">

        <ion-col *ngFor="let cardItemRow of cardItemPage" style="width: 20%; max-width: 20%;" padding-horizontal>
          <img *ngIf="!cardItemRow" src="assets/img/card/card_off.png" class="point-image" />
          <img *ngIf="cardItemRow" src="assets/img/card/card_on.png" class="point-image" />
        </ion-col>

      </ion-row>



      <!-- ion-row>
        <ion-col col-4 style="width: 20%" padding-horizontal>
          <img [src]="getLastItemImage()" class="point-image" />
        </ion-col>

        <ion-col col-8 padding-top>
          <button ion-button block margin-top (click)="getAward()" [class]="requireButtonClass">{{'get-award' | translate}}</button>
        </ion-col>
      </ion-row -->

    </div>


    <!--<ion-row *ngIf="card.card_status == 'ATT'" margin-top>

      <div class="avatar-modal-text-left" text-wrap style="width: 100%">
        <button ion-button block (click)="openSocialSharing()" color="dark">{{'share' | translate}}</button>
      </div>

    </ion-row>-->

  </ion-grid>


  <p text-center class="description-text">{{card.retailercampaign_description}}</p>

</ion-content>


<ion-footer no-shadow>
  <button ion-button block margin-top (click)="getAward()" [class]="requireButtonClass">{{'get-award' | translate}}</button>
</ion-footer>
