page-card-detail {

  .avatar-modal {
    max-width: 30% !important;
    background: transparent;
    text-align: center;
  }

  .card-title{
    margin-top: 5px;
    color: color($colors, white);
  }

  .points-text{
    color: color($colors, primary);
    font-size: 1.2em;
    margin-top: 2px;
    margin-bottom: 0;
  }

  .description-text{
    color: #FFFFFF;
    font-size: 1.2em;
    margin-top: 2px;
    margin-bottom: 0;
  }

  .col {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .point-image{
    max-width: 5rem;
  }

  .button-off{
    border: 2px solid;
    border-color: color($colors, dark-primary);
    color: color($colors, dark-primary);
    border-radius: 15px;
    padding: 10px;
    background: color($colors, dark);
    width: 100%;
  }


  .button-on{
    border: 2px solid;
    border-color: color($colors, primary);
    color: color($colors, primary);
    border-radius: 15px;
    padding: 10px;
    background: color($colors, dark);
    width: 100%;
  }

  ion-footer{
    max-height: 80px;
  }

  ion-footer .toolbar-background{
    background-color: color($colors, dark) !important;
  }

  .grid{
    border-top: 1px solid #4c4d4b;
    border-bottom: 1px solid #4c4d4b;
    margin-top: 15px;
  }

}
