<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>


<ion-content padding class="register auth-bg-image">
  <!--register form-->
  <div class="middle-align">
    <div>

      <ion-list class="list-no-border">

        <form #signupCreds="ngForm" [formGroup]="form" (ngSubmit)="doUpdatePassword(signupCreds.value)">

          <ion-item>
            <ion-input [class.invalid]="!form.controls.password.valid" type="password" name="password" placeholder="{{'old-password' | translate}}" formControlName="old_password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.password.valid" type="password" name="password" placeholder="{{'new-password' | translate}}" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [class.invalid]="!form.controls.password_confirmation.valid" type="password" name="password_confirmation" placeholder="{{'password-confirm' | translate}}" formControlName="password_confirmation"></ion-input>
          </ion-item>

          <ion-item class="has-btn" margin-top>
            <button ion-button block color="primary">{{'update-password' | translate}}</button>
          </ion-item>
        </form>

      </ion-list>
    </div>
  </div>
</ion-content>
