<ion-content padding class="home auth-bg">

  <ion-scroll scrollY="true" class="full-scroll">

    <ion-slides class="list-full-border" (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let thing of things.thingModel; let i = index">

        <img src="{{thing.thing_image}}" style="width: 50%;"/>

        <div>

          <h1 style="color:#fff;">{{ thing.thing_title }}</h1>
          <p style="color:#fff;">{{ thing.thing_description }}</p>


          <ion-grid *ngIf="thing.thing_vote_type == 0">
            <ion-row>
              <ion-col>
                <button ion-button block (click)="setVote(1)" [color]="(thingVote == 1)? 'primary' :'secondary'">{{'i-like' | translate}}</button>
              </ion-col>
              <ion-col>
                <button ion-button block (click)="setVote(0)" [color]="(thingVote == 0)? 'primary' :'secondary'">{{'i-dont-like' | translate}}</button>
              </ion-col>
            </ion-row>
          </ion-grid>


          <div *ngIf="thing.thing_vote_type == 1">
            <ionic3-star-rating
              activeIcon = "ios-star"
              defaultIcon = "ios-star-outline"
              activeColor = "#ffffff"
              defaultColor = "#f4f4f4"
              readonly="false"
              [rating]="0">
            </ionic3-star-rating>
          </div>


          <button ion-button block margin-top (click)="saveVote(i)" [color]="primary">{{'save-my-choice' | translate}}</button>

        </div>
      </ion-slide>
    </ion-slides>

  </ion-scroll>

</ion-content>
