// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:          #ffb336,
  dark-primary:     #2D2921,
  secondary:        #4C4D4B,
  danger:           #f53d3d,
  light:            #f4f4f4,
  button-dark:      #A2A2A2,
  dark:             #101010,
  favorite:         #69BB7B,
  bg-color:         #EEEEEE,
  fb-color:         #3B5999,
  gg-color:         #DA4537,
  border-color:     #ECECEC,
  gray:             #898989,
  common-bg:        #F7F7F7,
  white:            #FFFFFF,
  restaurant-color: #FF6565,
  hotel-color:      #0AC7B4,
  attraction-color: #33B5E5,
  light-blue:       #2FB4E5,
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
