<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>

<ion-content padding class="welcome auth-bg-image-2">
  <!--logo-->
  <!--div class="logo" text-center>
    <div class="inner">
      <img src="assets/img/logo/logo_header.png" style="max-height: 80px;"/>
    </div>
  </div-->

  <!--slides-->
  <ion-slides pager>
    <ion-slide>
      <img class="profile-picture" src="assets/img/avatars/avW1.png" style="width: 50%;"/>
      <p ion-text color="light">
        <b [innerHTML]="'welcome-txt-1' |translate"></b>
      </p>
    </ion-slide>

    <ion-slide>
      <img class="profile-picture" src="assets/img/avatars/avW1.png" style="width: 50%;"/>
      <p ion-text color="light">
        <b [innerHTML]="'welcome-txt-2' |translate"></b>
      </p>
    </ion-slide>

    <ion-slide>
      <img class="profile-picture" src="assets/img/avatars/avW1.png" style="width: 50%;"/>
      <p ion-text color="light">
        <b [innerHTML]="'welcome-txt-3' |translate"></b>
      </p>
    </ion-slide>

    <ion-slide>
      <img class="profile-picture" src="assets/img/avatars/avW1.png" style="width: 50%;"/>
      <p ion-text color="light">
        <b [innerHTML]="'welcome-txt-4' |translate"></b>
      </p>
    </ion-slide>
  </ion-slides>

</ion-content>
