page-welcome-menu,
.welcome {

  p{
    font-size: 30px;
  }

  .logo {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    ion-icon {
      font-size: 7rem;
      font-weight: bold;
    }
  }

  ion-slides {
    height: 80%;

    ion-icon {
      font-size: 8rem;
    }

    .swiper-pagination-bullet {
      background: color($colors, light);
      width: 12px;
      height: 12px;
    }
  }
}
