<ion-menu [content]="content">

  <ion-content class="menu-left" id="menu-left">
    <!-- User profile -->
    <div text-left padding class="top-menu-left">
      <a menuClose>
        <img class="profile-picture" src="assets/img/user/default-user.png">
        <h4 ion-text color="dark">{{username}}</h4>
      </a>
    </div>


    <ion-list class="list-full-border">
      <ion-item *ngFor="let page of pages" class="top-menu-button">
        <ion-icon item-left name="{{page.icon}}"></ion-icon>
        <div>
          <button ion-item menuClose (click)="openPage(page)" class="top-menu-button" style="border-bottom: 0px;">
            {{ page.title }}
            <ion-badge danger item-right *ngIf="page.count">{{ page.count }}</ion-badge>
          </button>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
