// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// global styles

.menu-left{
  background-color: color($colors, 'primary') !important;
}

.top-menu-left{
  background-color: #FFF;
}

.top-menu-button{
  background-color: color($colors, 'primary') !important;
  color: color($colors, 'secondary');
}

.top-menu-button .item-inner{
  margin-left: 10px !important;
}

.top-menu-button .label-md{
  margin: 0px 8px 0px 0;
}

.ion-page > ion-content {
  position: relative !important;
}


.primary-bg {
  background-color: color($colors, primary);
}

.secondary-bg {
  background-color: color($colors, secondary);
}

.gray-bg {
  background-color: color($colors, gray);
}

.light-bg {
  background-color: color($colors, light);
}

.common-bg {
  background-color: color($colors, common-bg);
}

.white-bg {
  background-color: color($colors, white);
}

.restaurant-bg {
  background-color: color($colors, restaurant-color);
}

.hotel-bg {
  background-color: color($colors, hotel-color);
}

.attraction-bg {
  background-color: color($colors, attraction-color);
}

.padding-xs {
  padding: 10px;
}

.round {
  border-radius: 3px;
}

.full-width {
  width: 100%;
}

.full-scroll{
  width: 100%;
  height: 100%;
}

.uppercase {
  text-transform: uppercase;
}

// text size
.text-2x {
  font-size: 2em;
}

.text-1x {
  font-size: 1em;
}

.text-sm {
  font-size: 0.7em;
}

.bold {
  font-weight: bold;
}

// position
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

.clear {
  clear: both;
}

.align-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.align-top-bgk {
  width: 100%;
  background-color: #FFF;
}

.align-bottom-bgk{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
}

.border-bottom {
  border-bottom: 1px solid color($colors, border-color);
}

// badge style
ion-badge {
  &.square {
    border-radius: 0;
  }
}

#notification-button {
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
}


#notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}

// card style
.card {
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.card-minheight{
  min-height: 8rem;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

// navbar style
.toolbar-background {
  background-color: color($colors, 'secondary');
}

.toolbar-title-md {
  color: color($colors, button-dark);
}

.tabs-md .tabbar {
  background: rgba(255,255,255,0.4);
}

ion-navbar.no-border {

  .toolbar-background {
    border: none;
  }
}

// transparent nav bar
.toolbar.nav-transparent {

  .toolbar-background {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

// list style
.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item {
    .item-inner {
      border: none;
    }
  }
}

.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid color($colors, border-color);

    .item-inner {
      border: none;
    }
  }
}

// item style
.item.no-border {

  .item-inner {
    border: none;
  }
}

// common classes
.middle-align {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

// fix slides style
ion-slides {
  .swiper-pagination.hide {
    display: block !important;
  }
}

// button style
.button-transparent {
  border: 1px solid color($colors, light);
  background: rgba(0, 0, 0, 0.1);

  &.activated {
    background: rgba(0, 0, 0, 0.3);
  }
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: color($colors, 'button-dark');
}

.tabs-md .tab-button-icon{
  font-size: 3.3rem;
  color: #4C4D4B;
}


// auth pages style
.auth-bg {
  background: color($colors, dark);
  background-size: 100% 100%;

  .scroll-content {
    background: rgba(0, 0, 0, 0.0);
  }
}

.auth-bg-image {
  background: url("../assets/img/bg.jpg");
  background-size: cover;

  .scroll-content {
    background: rgba(0, 0, 0, 0.0);
  }
}


.auth-bg-image-1 {
  background: url("../assets/img/base_avatar.jpg");
  background-size: 100% 100%;

  .scroll-content {
    background: rgba(0, 0, 0, 0.0);
  }
}


.auth-bg-image-2 {
  background: url("../assets/img/base_intro.jpg");
  background-size: 100% 100%;

  .scroll-content {
    background: rgba(0, 0, 0, 0.0);
  }
}

// item detail

.item-detail {
  .scroll-content {
    margin-top: 0 !important;
  }

  .item-header {
    height: 45%;

    .inner {
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
  }

  // social buttons styles
  .buttons {

    ion-icon {
      font-size: 4rem;
      display: block;
      margin-bottom: 1rem;
    }
  }

  // rating form
  .rating-form {

    ion-icon {
      margin: 1rem;
      font-size: 4rem;
    }
  }

  // reviews
  .reviews {

    ion-avatar {
      align-self: flex-start;
    }
  }

  #map-detail {
    width: 100%;
    height: 150px;
  }

  // reviews and rating
  .middle-align {
    height: auto;
  }

  .rating-value {
    font-size: 5rem;
  }

  .progress-bar {
    display: inline-block;
    height: 1rem;
  }
}

.datetime-md {
  padding: 13px 8px 13px 16px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  color: color( $colors, dark);
}

.datetime-md .datetime-placeholder {
  color: #ACB0BA;
}


.width-90{
  width: 90%;
}

.width-10{
  width: 10%;
}


.alert-icon{
  color: #fff;
  font-size: 20px;
}


.avatar-image{
  width: 175px;
  height: 175px;
  margin: 0 auto;
}

.avatar-no-flip{
  background: transparent;
}

.avatar-modal {
  max-width: 35% !important;
  background: transparent;
  text-align: center;
}

.white-box-color{
  text-align: left;
  color: #fff;
}

.avatar-flipped{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  background: transparent;
}


.avatar-modal-text{
  text-align: left;
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 20px;
}

.avatar-modal-text-right{
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 20px 20px 0 20px;
}

.avatar-modal-text-left{
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 20px 20px 20px 0;
}

.text-input::-moz-placeholder {
  color: color($colors, gray);
}

.text-input:-ms-input-placeholder {
  color: color($colors, gray);
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: color($colors, gray);
}


.card-opacity-text{
  background-color: #fff;
  position: absolute;
  opacity: 0.7;
  bottom: 0;
  left: 0;
  right: 0;
}


/*.tag{
  background: color($colors, 'primary');
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  margin:2px;
}*/


.tag{
  padding: 10px;
  color: #333;
  font-size: 2rem;
  margin:2px;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
}


.swiper-pagination-bullet-active {
  background: color($colors, 'primary');
  opacity: 1;
}


.ion-searchtext{
  background: rgba(0, 0, 0, 0.4);
  color: color($colors, primary);
}


.ion-searchtext h4{
  margin-top: 15px;
  margin-bottom: 15px;
}

.ion-searchtext1{
  background: rgba(255, 255, 255, 0.4);
  color: color($colors, primary);
}


.detail-image-box{
  object-fit: cover;
  max-height: 180px;
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
}

.roules-text{
  color: color($colors, primary);
  font-size: 0.8em;
  padding-bottom: 10px;
  margin: 0;
}

