<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="welcome auth-bg-image-2">
  <!--logo-->
  <div class="logo" text-center>
    <div class="inner">
      <img src="assets/img/logo/logo_header.png" style="max-height: 80px;"/>
    </div>
  </div>

  <!--slides-->
  <ion-slides pager>
    <ion-slide>
      <img class="profile-picture" src="assets/img/avatars/avW1.png" style="width: 50%;"/>
      <p ion-text color="light">
        <b [innerHTML]="'welcome-txt-1' |translate"></b>
      </p>
    </ion-slide>

    <ion-slide>
      <img class="profile-picture" src="assets/img/avatars/avW1.png" style="width: 50%;"/>
      <p ion-text color="light">
        <b [innerHTML]="'welcome-txt-2' |translate"></b>
      </p>
    </ion-slide>

    <ion-slide>
      <img class="profile-picture" src="assets/img/avatars/avW1.png" style="width: 50%;"/>
      <p ion-text color="light">
        <b [innerHTML]="'welcome-txt-3' |translate"></b>
      </p>
    </ion-slide>

    <ion-slide>
      <img class="profile-picture" src="assets/img/avatars/avW1.png" style="width: 50%;"/>
      <p ion-text color="light">
        <b [innerHTML]="'welcome-txt-4' |translate"></b>
      </p>
    </ion-slide>
  </ion-slides>

</ion-content>


<!--buttons-->
<ion-footer no-shadow>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button class="button-transparent" block (click)="goLogin()">{{'login' | translate}}</button>
      </ion-col>
      <ion-col>
        <button ion-button class="button-transparent" block (click)="signUp()">{{'sign-up' | translate}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
