page-notifications {

  .list-md ion-item-sliding {
    background-color: transparent;
  }

  .label-md {
    margin: 5px 5px 5px 0;
  }

  .item-md {
    background-color: transparent;
    color: #fff;
  }

  .item-md h1{
    font-size: 2.0rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .button-md {
    background-color: #fff;
    color: darkred;
  }

  .notification-container{
    background: color($colors, dark);
  }

  ion-icon {
    font-size: 2.5em;
  }

  .notification-data{
    font-size: 1.2rem;
  }

  .image-box{
    width: 85px;
    height: 85px;
  }

  .arrow{
    padding-top: 60%;
  }

  .notification-image{
    object-fit: cover;
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }

  .icon-box{
    background-color: color($colors, primary);
    border-radius: 50%;
    padding: 5px;
    height: 3.2rem;
    width: 3.2rem;
    text-align: center;
    position: absolute;
    left: 65px;
    top: 0;
  }

  .notification-icon{
    font-size: 1.5em;
    margin: 0 !important;
    padding: 0 !important;
  }

  .notification-text{
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
  }

  .unread-notification{
    background-color: rgba(255,255,255,0.3);
  }


  .notification-button{
    background-color: color($colors, secondary) !important;
  }

  .notification-button-box{
    background-color: color($colors, primary);
    border-radius: 50%;
    padding: 6px !important;
    font-size: 1.8em;
    width: 40px;
    height: 40px;
  }

}
