<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-navbar>
  <button ion-button icon-only menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>

  <ion-buttons end>
    <button ion-button icon-only>
      <ion-icon name="notifications" color="button-dark" padding-right></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>



<ion-content padding-bottom class="home auth-bg">

  <div class="ion-searchtext1">
    <ion-segment color="primary" [(ngModel)]="listType">
      <ion-segment-button  (click)="showNotifications()" value="notifications">{{'notifications' | translate}}</ion-segment-button>
      <ion-segment-button (click)="showEvents()" value="events">{{'next-events' | translate}}</ion-segment-button>
    </ion-segment>
  </div>



  <ion-grid [ngSwitch]="listType" padding-bottom>

    <ion-list *ngSwitchCase="'notifications'">

      <ion-item-sliding #slidingItem *ngFor="let notification of notifications.notificationModel; let i = index;" [ngClass]="getNotificationClass( notification.notificationuser_read )">

        <ion-item no-margin no-padding class="notification-container">

          <ion-grid>
            <ion-row>
              <ion-col col-11>

                <div class="image-box" style="float: left;">
                  <img class="notification-image" [src]="getNotificationImage(notification.notification_image)" />
                  <div class="icon-box">
                    <ion-icon class="notification-icon" name="notifications-outline" item-left *ngIf="notification.notification_type == 1" (click)="openNotification(notification)"></ion-icon>
                    <ion-icon class="notification-icon" name="calendar" item-left *ngIf="notification.notification_type == 2" (click)="openNotification(notification)"></ion-icon>
                  </div>
                </div>

                <div margin-left style="float: left; max-width: 58%;">
                  <h1 text-nowrap>
                    {{notification.notification_title}}
                  </h1>
                  <h6 class="notification-data">{{notification.created_at| date:'dd/MM/yyyy'}}</h6>
                  <p class="notification-text" text-nowrap>{{notification.notification_body}}</p>
                </div>
              </ion-col>

              <ion-col col-1>
                <ion-icon name="ios-arrow-back-outline" float-right class="arrow" (click)="openSlidingItem($event, slidingItem)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-item>

        <ion-item-options side="right">
          <button ion-button (click)="openNotification(notification)" class="notification-button">
            <ion-icon name="open" color="white" class="notification-button-box"></ion-icon>
          </button>
          <button ion-button (click)="deleteNotification(notification, i)" class="notification-button">
            <ion-icon name="trash"  color="white" class="notification-button-box"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>



    <ion-list *ngSwitchCase="'events'">

      <ion-item-sliding *ngFor="let news of news.newsModel; let i = index;" (click)="openEventDetail(news)">
        <ion-item no-margin no-padding class="notification-container">

          <ion-grid>
            <ion-row>
              <ion-col col-12>

                <div class="image-box" style="float: left;">
                  <img class="notification-image" [src]="getNotificationImage(news.news_image)" />
                  <div class="icon-box">
                    <ion-icon class="notification-icon" name="calendar"></ion-icon>
                  </div>
                </div>

                <div margin-left style="float: left; max-width: 58%;">
                  <h1 text-nowrap>{{news.news_title}}</h1>
                  <h6 class="notification-data">{{news.news_date_event| date:'dd/MM/yyyy'}}</h6>
                </div>

              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-item>
      </ion-item-sliding>

    </ion-list>

  </ion-grid>

</ion-content>
