<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>


<ion-content padding class="retailers auth-bg">



  <div class="card round" margin-bottom *ngFor="let reward of rewards.assignableRewardsModel" (click)="assignReward(reward['point_id'])">

    <ion-grid>

      <ion-row>

        <ion-col col-12>

          <h5>{{reward['reward_title_it']}}</h5>
          <span ion-text>{{reward['user_name']}} {{reward['user_surname']}}</span>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>
