<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="setting">
  <ion-list class="list-full-border">
    <ion-item>
      <span ion-text color="primary">{{'GENERAL' | translate}}</span>
    </ion-item>
    <ion-item (click)="openAccountPage()">{{'account' | translate}}</ion-item>
    <ion-item (click)="openUpdateAccountPage()">{{'update-account' | translate}}</ion-item>
    <ion-item (click)="openUpdatePasswordPage()">{{'change-password' | translate}}</ion-item>
    <ion-item (click)="doResetAccount()">{{'reset-account' | translate}}</ion-item>
  </ion-list>

</ion-content>
