<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>

<ion-row class="ion-searchtext">
  <h4 padding-left>{{'event' | translate}}</h4>
</ion-row>

<ion-content class="auth-bg" padding text-center>

  <img [src]="getAvatarImage()" class="avatar-modal" />

  <div class="white-box-color" margin-top text-center>

    <h1 text-center>{{news.news_title}}</h1>
    <h6 class="notification-data"></h6>
    <img text-center class="detail-image-box" *ngIf="news.news_image" src="{{news.news_image}}" /><br />
    <p text-center>
      DATA: {{news.news_date_event| date:'dd/MM/yyyy'}}<br />
      {{news.news_description}}
    </p>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="setVote(news.news_id)" [color]="(newsLike == 1)? 'primary' :'secondary'" *ngIf="newsLike != 1">
            {{'participates' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
