<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content class="auth-bg">

  <ion-slides [initialSlide]="showSlide">
    <ion-slide *ngFor="let gallery of galleryArr">
      <img src="{{gallery}}" />
    </ion-slide>
  </ion-slides>

</ion-content>
