<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="register auth-bg-image">
  <!--register form-->
  <div class="middle-align">
    <div>

      <ion-list class="list-no-border">

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-md-7 margin-right>
                <div class="avatar-modal-text" text-wrap>
                  <h3>{{'recover-password-avatar' | translate}}</h3>
                </div>
              </ion-col>
              <ion-col col-md-4>
                <img [src]="getAvatarImage()" class="avatar-flipped" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>


        <form #signupCreds="ngForm" [formGroup]="form" (ngSubmit)="doLostPassword(signupCreds.value)">

          <ion-item>
            <ion-input [class.invalid]="!form.controls.email.valid" type="email" name="email" placeholder="{{'email' | translate}}" formControlName="email" value="{{user_email}}"></ion-input>
          </ion-item>


          <ion-item class="has-btn" margin-top>
            <button ion-button block color="primary">{{'recover-password' | translate}}</button>
          </ion-item>
        </form>


        <ion-item class="has-btn">
          <button ion-button color="gray" block (click)="login()">{{'return-to-login' | translate}}</button>
        </ion-item>

      </ion-list>
    </div>
  </div>
</ion-content>
