<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>

  <ion-buttons end>
    <button ion-button icon-only>
      <ion-icon name="heart" color="button-dark" padding-right></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>


<!--search form-->
<ion-searchbar
  class="ion-searchtext"
  placeholder="{{'search-retailer' | translate}}"
  [(ngModel)]="simpleSearchTerms"
  (ionInput)="simpleSearchRetailers(false)"
  [debounce]="1000">
</ion-searchbar>


<ion-content padding class="retailers auth-bg">

  <div class="card card-minheight round" margin-bottom *ngFor="let retailer of retailers.landingModel" (click)="openDetails(retailer)">
    <ion-grid>

      <ion-row>

        <ion-col col-3 align-items-center>
          <img [src]="getRetailerLogo(retailer.user_logo)" class="retailer-logo">
        </ion-col>

        <ion-col col-9>
          <h5>{{ retailer.user_nicename }}</h5>
          <span ion-text>{{printAttributeArray(retailer.user_ecard, 'user_address')}}</span>
          <div>
            <div class="pull-left">
              <span ion-text>{{printAttributeArray(retailer.user_ecard, 'user_city')}}</span>
            </div>
            <div class="pull-right">
              {{printAttributeArray(retailer.user_ecard, 'user_phone')}}
            </div>
            <div class="clear"></div>
          </div>
        </ion-col>

      </ion-row>

      </ion-grid>

    </div>


</ion-content>
