<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>


<ion-content padding class="home auth-bg" text-center>

  <ion-scroll scrollY="true" class="full-scroll">

    <img [src]="reward['reward_image']" class="avatar-modal" />

    <ion-row class="avatar-modal-text" margin>

      <h1 style="width: 100%">{{reward['reward_title_it']}}</h1>
      <p>{{reward['reward_descr_it']}}</p>

    </ion-row>

  </ion-scroll>

</ion-content>
