page-retailer-detail,
.retailer-detail {

  // import extends css
  $color-bar: color($colors, restaurant-color);
  @import "../../theme/circle_progress";

  h6{
    color: color($colors, white);
  }

  p{
    border-top: 0px;
    color: color($colors, white);
  }

  .item-detail .item-header {
    height: 100px;
  }

  .icon-share{
    color: color($colors, white);
    background-color: color($colors, primary);
    font-size: 1.4em;
    padding: 0.2em;
    border-radius: 50%;
    width: 2.7rem;
    height: 2.7rem;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .logo-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
  }

  .title{
    color: color($colors, dark);
    width: 100%;
    text-align: right;
  }

  .inner{
    padding-top: 2rem;
  }

  .landing-logo{
    clip-path: circle();
    max-height: 110px;
  }


  .circle-box {
    color: color($colors, dark);
    font-size: 2.2em;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
  }


  .landing-small-button{
    font-size: 2.4rem;
  }

  .card-icon{
    padding-top: 22px !important;
    margin-bottom: 0 !important;
  }

  .social-icon{
    padding: 12px;
    font-size: 3rem;
    padding-top: 0px;
    padding-bottom: 0px;
    color: color($colors, dark);
  }

  .font-awesome{
    font-size: 3rem;
    padding-top: 0.6rem
  }

  .hours-box{
    color: color($colors, primary);
    border-color: color($colors, primary);
    border-bottom: 2px;
    border-top: 2px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
  }

  .share-box{
    background-color: color($colors, primary);
  }

}
