<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/img/logo/logo_header.png" style="float:left; max-height: 50px;"/>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="auth-bg">

  <!--header info-->
  <div class="item-header" [ngStyle]="{'background-image': 'url(assets/img/landing_header.jpg)'}">
    <div class="inner">
      <div class="logo-container">
        <div class="landing-logo-container" padding-left>
          <img src="{{retailer.user_logo}}" *ngIf="retailer.user_logo" class="landing-logo" left (click)="openLogoFullPage(retailer.user_logo)"/>
        </div>
        <ion-icon name="share" class="icon-share" (click)="openSocialSharing(retailer.user_nicename, retailer.user_website)"></ion-icon>
        <h1 ion-text class="title" padding-right>{{ retailer.user_nicename }}</h1>
      </div>
    </div>
  </div>

  <!--buttons-->
  <div align-items-center align-self-center text-center margin-top>
    <button ion-button small (click)="scrollTo('services')" class="circle-box">
      <ion-icon name="ios-restaurant"></ion-icon>
    </button>

    <button ion-button small (click)="scrollTo('gallery')" class="circle-box">
      <ion-icon name="ios-images-outline"></ion-icon>
    </button>

    <button ion-button small (click)="openCards()" class="circle-box">
      <ion-icon name="ios-photos-outline"></ion-icon>
    </button>

    <button ion-button small (click)="openLink(retailer.user_location_googlemap)" class="circle-box">
      <ion-icon name="ios-pin"></ion-icon>
    </button>
  </div>


  <ion-grid id="about">
    <ion-row>
      <p text-justify>{{printAttributeArray('user_short_description')}}</p>
    </ion-row>
  </ion-grid>



  <!--Info-->
  <div align-items-center align-self-center text-center>

    <button ion-button small (click)="makeCall(printAttributeArray('user_phone'))" class="circle-box" *ngIf="printAttributeArray('user_phone')">
      <i class="fa fa-phone" aria-hidden="true"></i>
    </button>

    <button ion-button small (click)="openWhatsappConversation(retailer.user_social_whatsapp)" class="circle-box" *ngIf="retailer.user_social_whatsapp">
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
    </button>

    <button ion-button small (click)="sendEmail(printAttributeArray('user_email'))" class="circle-box" *ngIf="printAttributeArray('user_email')">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </button>

  </div>



  <!-- SERVICES -->
  <ion-grid id="services">
    <ion-row>
      <h6>{{'SERVICES' | translate}}</h6>
      <p text-justify>{{printAttributeArray('user_services')}}</p>
    </ion-row>
  </ion-grid>


  <!-- TAGS -->
  <!--<ion-row padding align-items-end *ngIf="tagsArr.length">
    <ion-row>
      <h2>{{'Tags' | translate}}</h2>
    </ion-row>
    <div *ngFor="let tag of tagsArr" class="tag">
      <ion-icon name="checkmark-circle-outline"></ion-icon> {{tag}}
    </div>
  </ion-row>-->


  <!-- SOCIAL SHARING -->
  <ion-grid id="socials">
    <ion-row>
    <h6>{{'FOLLOW-US' | translate}}</h6>
  </ion-row>
    <ion-grid class="buttons share-box">
      <ion-row style="width: auto; margin: 0 auto;" text-center>
        <div text-center *ngIf="retailer.user_social_instagram" (click)="openLink(retailer.user_social_instagram)" class="social-icon">
          <ion-icon name="logo-instagram"></ion-icon>
        </div>
        <div text-center *ngIf="retailer.user_social_facebook" (click)="openLink(retailer.user_social_facebook)" class="social-icon">
          <ion-icon name="logo-facebook"></ion-icon>
        </div>
        <div text-center *ngIf="retailer.user_social_tripadvisor" (click)="openLink(retailer.user_social_tripadvisor)" class="social-icon">
          <i class="fa fa-tripadvisor font-awesome" aria-hidden="true"></i>
        </div>
        <div text-center *ngIf="retailer.user_social_yelp" (click)="openLink(retailer.user_social_yelp)" class="social-icon">
          <i class="fa fa-yelp font-awesome" aria-hidden="true"></i>
        </div>
      </ion-row>
    </ion-grid>
  </ion-grid>


  <!-- HOURS -->
  <ion-grid id="hours">
    <ion-row>
      <h6>{{'HOURS' | translate}}</h6>
    </ion-row>
    <ion-row class="hours-box">
      <ion-col col-6>
        {{'monday' | translate}}: {{printSheduleDay(hoursArr.schedule_monday)}}<br />
        {{'tuesday' | translate}}: {{printSheduleDay(hoursArr.schedule_tuesday)}}<br />
        {{'wednesday' | translate}}: {{printSheduleDay(hoursArr.schedule_wednesday)}}<br />
        {{'thursday' | translate}}: {{printSheduleDay(hoursArr.schedule_thursday)}}<br />
      </ion-col>
      <ion-col col-6>
        {{'friday' | translate}}: {{printSheduleDay(hoursArr.schedule_friday)}}<br />
        {{'saturday' | translate}}: {{printSheduleDay(hoursArr.schedule_saturday)}}<br />
        {{'sunday' | translate}}: {{printSheduleDay(hoursArr.schedule_sunday)}}<br />
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- RETAILER INSTANT WIN CAMPAIGNS -->
  <ion-grid margin-top *ngIf="campaignsInstantWin.campaignModel && campaignsInstantWin.campaignModel.length">
    <ion-row>
      <h6>{{'INSTANT WIN' | translate}}</h6>
    </ion-row>
    <ion-row>
      <p text-justify>{{'instant-win-text' | translate}}</p>
    </ion-row>
  </ion-grid>


  <!-- GALLERY IMAGE -->
  <ion-grid id="gallery" *ngIf="galleryArr != null && galleryArr.length">
    <ion-row>
      <h6>{{'GALLERY' | translate}}</h6>
    </ion-row>
    <ion-row>
      <ion-slides pager="true">
        <ion-slide *ngFor="let gallery of galleryArr; let i = index">
          <div class="swiper-zoom-container">
            <img src="{{gallery}}" alt="{{ gallery.user_nicename }}" (click)="openRetailerGallery(i)"/>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>



  <!-- SELFIES -->
  <ion-grid id="selfies" *ngIf="selfieArr != null && selfieArr.length">
    <ion-row>
      <h2>{{'SELFIES' | translate}}</h2>
    </ion-row>
    <ion-row>
      <ion-slides pager="true">
        <ion-slide *ngFor="let selfie of selfieArr; let i = index">
          <div class="swiper-zoom-container">
            <img src="{{selfie}}" alt="{{ retailer.user_nicename }}" (click)="openRetailerSelfies(i)"/>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

</ion-content>
