page-retailers-list {

  .card{
    min-height: 80px;
    background-color: color($colors, primary);
  }

  .retailer-logo{
    background: transparent !important;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
  }

  .card-header {
    width: 100%;
    height: 20rem;
    background-size: 100% auto;
    position: relative;
  }

}
