page-cards {


  .card{
    min-height: 80px;
    background-color: color($colors, primary);
  }

  .card-header {
    width: 100%;
    height: 20rem;
    background-size: 100% auto;
    position: relative;
  }

  .card-icon{
    font-size: 3em;
    margin-top: 7px;
  }

}
