<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <img src="assets/img/logo/logo_header.png" style="max-height: 50px;"/>
  </ion-title>
</ion-navbar>

<ion-row class="ion-searchtext">
  <h4 padding-left>{{'Cards' | translate}}</h4>
</ion-row>

<ion-content padding class="retailers auth-bg">

  <div class="card round" margin-bottom *ngFor="let card of cards.cardModel" (click)="openDetails(card)">
    <ion-grid>

      <ion-row>
        <ion-col col-3 align-items-center>
          <ion-icon name="ios-photos-outline" item-left padding-left *ngIf="card.card_status == 'ATT'" class="card-icon"></ion-icon>
          <ion-icon name="ios-ribbon" item-left padding-left *ngIf="card.card_status == 'REQ'" class="card-icon"></ion-icon>
        </ion-col>

        <ion-col col-9>
          <div>
            <h1 style="margin-bottom: 10px;">
              {{ (campaignTitle)? card.campaign_description : card.user_nicename }}
            </h1>
            <span ion-text *ngIf="card.card_status == 'REQ'">{{ 'award-required' | translate }}<br /></span>
            <span ion-text>
              {{ (campaignTitle)? card.user_nicename : card.campaign_description }}
            </span>
            <br />
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>
