<ion-content padding class="home auth-bg" text-center>

  <ion-scroll scrollY="true" class="full-scroll">

    <img [src]="point['reward_image']" class="avatar-modal" />

    <ion-row class="avatar-modal-text" margin>

      <h1 style="width: 100%">{{point['reward_title_it']}}</h1>
      <p style="width: 100%;">User: {{point['user_name']}} {{point['user_surname']}}</p>

      <p>
        {{'reward-assigned' | translate}}:
        <span *ngIf="point['point_redeemed']">{{'yes' | translate}}</span>
        <span *ngIf="!point['point_redeemed']">{{'no' | translate}}</span>
      </p>


      <div ion-button block color="primary" (click)="assignReward(point['point_id'])" *ngIf="!point['point_redeemed']">
        {{'assign-reward' | translate}}
      </div>

    </ion-row>

  </ion-scroll>

</ion-content>
