<ion-content padding class="auth-bg-image">

  <ion-row>
    <ion-grid>
      <ion-row>
        <ion-col col-md-4 align-items-center>
          <img [src]="getAvatarImage()" class="avatar-modal"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>


  <ion-row class="avatar-modal-text">
    <p text-justify margin>
      La informiamo che per le finalità connesse alla fornitura del Servizio, ST Solution s.a.s di di Biase Paolo & C.
      con sede a Fondi, Via Veneto n° 2, esegue il trattamento dei dati da Lei forniti, o comunque acquisiti in sede di
      esecuzione del Servizio. Il titolare del trattamento è ST Solution s.a.s di di Biase Paolo & C nella persona del
      legale rappresentante pro tempore. L'elenco dei responsabili del trattamento dei dati personali e dei terzi destinatari
      di comunicazioni è disponibile presso gli uffici di ST Solution s.a.s di di Biase Paolo & C.<br />
      Il trattamento dei dati avviene con procedure idonee a tutelare la riservatezza dell'Utente e consiste nella loro raccolta,
      registrazione, organizzazione, conservazione, elaborazione, modificazione, selezione, estrazione, raffronto, utilizzo,
      interconnessione, blocco, comunicazione, diffusione, cancellazione, distruzione degli stessi comprese la combinazione
      di due o più delle attività suddette.<br />
      Il trattamento dei dati, oltre alle finalità connesse, strumentali e necessarie alla fornitura del Servizio sarà finalizzato a:<br /><br />
      1. comunicare i dati a Società che svolgono funzioni necessarie o strumentali all'operatività del Servizio.<br />
      2. raccogliere dati ed informazioni in via generale e in particolare sugli orientamenti e le preferenze dell'Utente;<br />
      3. inviare informazioni ed offerte commerciali, anche di terzi;<br />
      4. inviare materiale pubblicitario e informativo;<br />
      5. effettuare comunicazioni commerciali, anche interattive;<br />
      6. compiere attività dirette di vendita o di collocamento di prodotti o servizi;<br />
      7. elaborare studi e ricerche statistiche su vendite, clienti e altre informazioni, ed eventualmente comunicare le
      stesse a terze parti;<br />
      8. cedere a terzi, anche al di fuori del territorio dell'Unione Europea, i dati raccolti ed elaborati a fini commerciali
      anche per la vendita o tentata vendita, ovvero per tutte quelle finalità a carattere commerciale e/o statistico lecite.<br /><br />
      Il conferimento del consenso al trattamento dei propri dati personali da parte dell'Utente è facoltativo. In caso di
      rifiuto del trattamento dei dati personali di cui al punto 2 il trattamento sarà limitato all'integrale esecuzione
      degli obblighi derivanti dalla fornitura del Servizio, nonchè all'adempimento degli obblighi previsti da leggi,
      regolamenti e normativa comunitaria. In caso di rifiuto del trattamento dei dati personali di cui al punto 1 la
      Società non potrà fornire il Servizio.<br />
      Il trattamento dei dati dell'Utente per le finalità sopraindicate avrà luogo prevalentemente con modalità automatizzate
      ed informatizzate, sempre nel rispetto delle regole di riservatezza e di sicurezza previste dalla legge. I dati saranno
      conservati per i termini di legge presso ST Solution s.a.s di di Biase Paolo & C e trattati da parte di dipendenti e/o
      professionisti da questa incaricati, i quali svolgono le suddette attività sotto la sua diretta supervisione e
      responsabilità. A tal fine, i dati comunicati dall'Utente potranno essere trasmessi a soggetti esterni, anche all'Estero,
      che svolgono funzioni strettamente connesse e strumentali all'operatività del Servizio.<br />
      La informiamo, inoltre, che, ai sensi dell'art. 7 del D. Lgs. 30 giugno 2003, n. 196, il Cliente ha il
      diritto di opporsi, in tutto o in parte, per motivi legittimi, al trattamento e può, secondo le modalità e
      nei limiti previsti dalla vigente normativa, richiedere la conferma dell'esistenza di dati personali che
      lo riguardano, e conoscerne l'origine, riceverne comunicazione intelligibile, avere informazioni
      circa la logica, le modalità e le finalità del trattamento, richiederne l'aggiornamento, la rettifica,
      l'integrazione, richiedere la cancellazione, la trasformazione in forma anonima, il blocco dei dati trattati in violazione
      di legge, ivi compresi quelli non più necessari al perseguimento degli scopi per i quali sono stati raccolti, nonchè,
      più in generale, esercitare tutti i diritti che gli sono riconosciuti dalle vigenti disposizioni di legge.<br /><br />
      Si avvisano gli Interessati che il testo integrale del D.L. 196/2003 è consultabile sul sito del Garante per la Privacy:
      <a href="https://www.garanteprivacy.it" target="_blank">www.garanteprivacy.it</a>.<br /><br /><br />
    </p>


    <form #signupCreds="ngForm" [formGroup]="form" (ngSubmit)="acceptTerms(signupCreds.value)">

      <ion-item>
        <ion-label text-wrap>*{{'user-privacy-agree' | translate}}</ion-label>
        <ion-checkbox name="user_privacy_agree" formControlName="user_privacy_agree" item-right></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label text-wrap>*{{'user-adult' | translate}}</ion-label>
        <ion-checkbox name="user_adult" formControlName="user_adult" item-right></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-toggle formControlName="user_communicate_data_agree" (ionChange)="updateCommunicateLabel()"></ion-toggle>
        <ion-label text-wrap>{{'user-communicate-data-agree' | translate}} - {{userCommunicateAgree}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle formControlName="user_profiling_agree" (ionChange)="updateProfilingLabel()"></ion-toggle>
        <ion-label text-wrap>{{'user-profiling-agree' | translate}} - {{userProfilingAgree}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle formControlName="user_marketing_agree" (ionChange)="updateMarketingLabel()"></ion-toggle>
        <ion-label text-wrap>{{'user-marketing-agree' | translate}} - {{userMarketingAgree}}</ion-label>
      </ion-item>


      <ion-item class="has-btn" margin-top>
        <button ion-button block [color]="(form.value['user_privacy_agree'] && form.value['user_adult']) ? 'primary' : 'secondary'">
          {{'accept-terms' | translate}}
        </button>
      </ion-item>


      <br /><br /><br />

    </form>


  </ion-row>


</ion-content>
